@keyframes marquee {
    0% {
        left: 0;
    }

    100% {
        left: -100%;
    }
}

marquee>a {
    text-decoration: none;
}

marquee>a:hover {
    background-color: #0d6efd;
    color: white;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    border-radius: 1rem;
}